#logo {
<<<<<<< HEAD
  width: 200px;
  height: 200px;
  background-image: url("../../assets/holberton-logo.jpg");
=======
  background: url("../../assets/holberton-logo.jpg");
  width: 200px;
  height: 200px;
>>>>>>> f861b24a5cdc60b4c31df3c0061ef49edb068663
  background-size: 200px 200px;
}
